@charset "utf-8";
/* CSS Document */
body,ul,li,p,h1,h2,h3,h4,h5,h6{ margin:0; padding:0 ;}
body{ font-size:12px; line-height:1.7em; color:#666;}
li{ list-style:none}
img{ border:none}
a{ text-decoration:none; color:#666;}
a:hover{ text-decoration:underline;}
.fl{ float:left}
.fr{ float:right}

.center{ width:1200px; margin:0 auto;}
a:hover img {
	filter: alpha(opacity=80);
	opacity: 0.8;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	transition: all .2s linear;
}
.clearfix:after{
   content:".";/*加一段内容*/
   display:block;/*让生成的元素以块级元素显示，占满剩余空间*/
   height:0;/*避免生成的内容破坏原有布局高度*/
   clear:both;/*清除浮动*/
   visibility:hidden;/*让生成的内容不可见*/
  }
 .clearfix{zoom:1;/*为IE6，7的兼容性设置*/}


/*header*/
header{width: 100%;height: 118px;background: #000;}
header .sg{width: 100%;height: 43px;background:#EAEAEA;}
header .sg ul{float: right;margin-right:200px;}
header .sg ul li{float: left;padding:10px 30px 0 30px;border-right: 1px solid #ccc;}
header .sg ul li a{color:#000;text-decoration:none;}
header .sg ul li a:hover{color: #EA2000;}

header .zg{width: 100%;height: 37px;background: #fff;/*position: fixed;*/}
header .zg .zg1 li img{width:56px;height: 36px;padding-left:150px;}
header .zg .zg1 li{float: left;padding-right: 30px;line-height:37px;font-weight:bold;}
header .zg .zg1 li a{text-decoration:none;display: block;width:50px;height: 37px; 
					text-align: center;color: #000;}

header .zg .zg1 p a{color:#EE2804;line-height:37px;font-weight:bold;
					text-decoration:none;display: block;width:50px;height: 37px;float: left; 
					text-align: center;}
header .zg .zg1 a:hover{background:red;color: #fff;}



header .zg .zg2{width: 500px;height: 37px;}
header .zg .zg2 li{width:60px;height: 43px;float: left;}
header .zg .zg2 .tp{width: 225px;height: 30px;padding-top: 5px;}
header .zg .zg2 .tp img{width: 34px;height: 24px;margin:0 0 -7px -6px;}
header .zg .zg2 li input{width: 180px;height:20px;  border:solid 1px #999999;
 						border-radius:5px;}
header .zg .zg2 li a{display: block;line-height:43px;float: left;font-size:
 						12px;color:red;}
header .zg .zg2 li img{width: 25px;}


/*banner*/
.bn{width: 100%;position:relative;}
.bn .bn1{width: 100%;}
.bn .bn1 img{width:100%;height: 440px;}
.bn .bn2{width:650px;}
.bn .bn2 li:nth-of-type(1){font-size:60px;position: absolute;left:250px;top:180px;color: #fff;}
.bn .bn2 li:nth-of-type(2){font-size:60px;position: absolute;left:250px;top:240px;color: #fff;}
.bn .bn2 li:nth-of-type(3){width: 80px;height: 25px;background:red;text-align: center;line-height: 25px;position: absolute;left:250px;top:300px;}
.bn .bn2 li:nth-of-type(3) a{color: #fff;}
.bn .bn2 li:nth-of-type(3):hover{background: #000;}





main{width: 100%;height:700px;padding-top:70px; }
main p{width: 100%;height: 40px;color: #333333;font-size: 40px;text-align: center;
		font-weight: bold;}
main span{display: block;width: 100%;height: 50px;font-size:30px;color: #333333;
			text-align: center;margin-top: 10px;}

main .sp{width: 100%;height: 540px;text-align: center;}
main .sp1{position: relative;}
main .sp1 a img{width: 84px;height: 58px;position:absolute;left:710px;
			bottom:270px;}



.js{width: 100%;}
.js img{width: 100%;height:400px;position:relative;}
.js li:nth-of-type(1){width: 310px;height: 15px;font-size: 20px;position:relative;left:150px;bottom:250px;color:#fff;font-weight:bold;}
.js li:nth-of-type(2){width: 310px;height: 15px;font-size: 25px;position:relative;left:150px;bottom:240px;color:#fff;}
.js li:nth-of-type(3){width: 80px;height: 25px;background:red;text-align:center;line-height: 25px;position:relative;left:150px;bottom:220px;}
.js li:nth-of-type(3) a{color:#fff;}
.js li:nth-of-type(3):hover{background: #000;}


.an{width: 100%;}
.an img{width: 100%;height:400px;position:relative;}
.an li:nth-of-type(1){width: 310px;height: 15px;font-size: 20px;position:relative;left:150px;bottom:250px;color:#fff;font-weight:bold;}
.an li:nth-of-type(2){width: 310px;height: 15px;font-size: 25px;position:relative;left:150px;bottom:240px;color:#fff;}
.an li:nth-of-type(3){width: 80px;height: 25px;background:red;text-align:center;line-height: 25px;position:relative;left:150px;bottom:220px;}
.an li:nth-of-type(3) a{color:#fff;}
.an li:nth-of-type(3):hover{background: #000;}



.be{width: 100%;}
.be img{width: 100%;height:400px;position:relative;}
.be li:nth-of-type(1){width: 310px;height: 15px;font-size: 20px;position:relative;left:150px;bottom:250px;color:#fff;font-weight:bold;}
.be li:nth-of-type(2){width: 310px;height: 15px;font-size: 25px;position:relative;left:150px;bottom:240px;color:#fff;}
.be li:nth-of-type(3){width: 80px;height: 25px;background:red;text-align:center;line-height: 25px;position:relative;left:150px;bottom:220px;}
.be li:nth-of-type(3) a{color:#fff;}
.be li:nth-of-type(3):hover{background: #000;}




.be1{width: 100%;}
.be1 img{width: 100%;height:400px;position:relative;}
.be1 li:nth-of-type(1){width: 310px;height: 15px;font-size: 20px;position:relative;left:150px;bottom:250px;color:#fff;font-weight:bold;}
.be1 li:nth-of-type(2){width: 310px;height: 15px;font-size: 25px;position:relative;left:150px;bottom:240px;color:#fff;}
.be1 li:nth-of-type(3){width: 80px;height: 25px;background:red;text-align:center;line-height: 25px;position:relative;left:150px;bottom:220px;}
.be1 li:nth-of-type(3) a{color:#fff;}
.be1 li:nth-of-type(3):hover{background: #000;}


.be2{width: 100%;}
.be2 img{width: 100%;height:400px;position:relative;}
.be2 li:nth-of-type(1){width: 310px;height: 15px;font-size: 20px;position:relative;left:150px;bottom:250px;color:#fff;font-weight:bold;}
.be2 li:nth-of-type(2){width: 310px;height: 15px;font-size: 25px;position:relative;left:150px;bottom:240px;color:#fff;}
.be2 li:nth-of-type(3){width: 80px;height: 25px;background:red;text-align:center;line-height: 25px;position:relative;left:150px;bottom:220px;}
.be2 li:nth-of-type(3) a{color:#fff;}
.be2 li:nth-of-type(3):hover{background: #000;}



.be3{width: 100%;}
.be3 img{width: 100%;height:400px;position:relative;}
.be3 li:nth-of-type(1){width: 310px;height: 15px;font-size: 20px;position:relative;left:150px;bottom:250px;color:#fff;font-weight:bold;}
.be3 li:nth-of-type(2){width: 310px;height: 15px;font-size: 25px;position:relative;left:150px;bottom:240px;color:#fff;}
.be3 li:nth-of-type(3){width: 80px;height: 25px;background:red;text-align:center;line-height: 25px;position:relative;left:150px;bottom:220px;}
.be3 li:nth-of-type(3) a{color:#fff;}
.be3 li:nth-of-type(3):hover{background: #000;}


.be4{width: 100%;}
.be4 img{width: 100%;height:400px;position:relative;}
.be4 li:nth-of-type(1){width: 310px;height: 15px;font-size: 20px;position:relative;left:150px;bottom:250px;color:#fff;font-weight:bold;}
.be4 li:nth-of-type(2){width: 310px;height: 15px;font-size: 25px;position:relative;left:150px;bottom:240px;color:#fff;}
.be4 li:nth-of-type(3){width: 80px;height: 25px;background:red;text-align:center;line-height: 25px;position:relative;left:150px;bottom:220px;}
.be4 li:nth-of-type(3) a{color:#fff;}
.be4 li:nth-of-type(3):hover{background: #000;}





.be5{width: 100%;}
.be5 img{width: 100%;height:400px;position:relative;}
.be5 li:nth-of-type(1){width: 310px;height: 15px;font-size: 20px;position:relative;left:150px;bottom:250px;color:#fff;font-weight:bold;}
.be5 li:nth-of-type(2){width: 310px;height: 15px;font-size: 25px;position:relative;left:150px;bottom:240px;color:#fff;}
.be5 li:nth-of-type(3){width: 80px;height: 25px;background:red;text-align:center;line-height: 25px;position:relative;left:150px;bottom:220px;}
.be5 li:nth-of-type(3) a{color:#fff;}
.be5 li:nth-of-type(3):hover{background: #000;}



.be6{width: 100%;}
.be6 li:first-child{width: 50%;height: 400px;float:left;}
.be6 li:last-child{width: 50%;height: 400px;float:right;}






/*电子邮件*/
.inter{width: 100%;height:150px;position:relative;overflow: hidden;border: 1px #999 dotted;border-left: none;border-right: none;}
.inter .inter1{width:50%;height: 90px;float: left;}
.inter .inter1 .inter1_left{width: 50%;}
.inter .inter1 .inter1_left img{width: 80px;height: 53px;position: absolute;
	left:400px;top:40px;}
.inter .inter1 .inter1_right{width: 100px;height: 50px;position: absolute;left:500px;top:50px;}
.inter .inter1 .inter1_right ul li{color: #000;font-size: 10px;}
.inter .inter1 .inter1_right ul li input{font-size: 10px;}
.inter .inter1 .inter1_right img{width: 21px;height: 21px;position: absolute;left:136px;top:19px;}



.inter .inter2{width: 50%;height: 100px;float: right;position:relative;}
.inter .inter2 .inter2_left img{width: 3px;height: 74px;padding-top: 40px;}
.inter .inter2 .inter2_left li:first-child{width: 70px;height: 12px;color: #000;
	position: absolute;left:50px;top:50px;}
.inter .inter2 .inter2_left li:last-child{width: 180px;height: 20px;border:1px solid #ccc;line-height: 20px;background:red;position: absolute;left:50px;top:70px;}
.inter .inter2 .inter2_left li:last-child a{color: #fff;}
.inter .inter2 .inter2_left li:last-child:hover{background: #000;}
.inter .inter2 .inter2_right img{width: 120px;height: 60px;position: absolute;left:260px;top:30px;}




/*尾部*/
.wei{width: 100%;height: 336px;position:relative;}
.wei .wei1{width: 220px;}
.wei .wei1 img{width: 126px;height: 48px;padding:50px 0 0 150px;}

.wei .wei2{width: 81px;height: 221px;}
.wei .wei2{position:absolute;left: 480px;top: 40px;}
.wei .wei2 li:nth-of-type(1){width:26px;height: 27px;line-height: 27px;}
.wei .wei2 li:nth-of-type(2){width: 26px;height: 20px;line-height: 20px;}
.wei .wei2 li:nth-of-type(2) a{color:#000;font-size: 5px;}
.wei .wei2 li:nth-of-type(2):hover a{color: red;}
.wei .wei2 li:nth-of-type(3){width: 26px;height: 20px;line-height: 20px;}
.wei .wei2 li:nth-of-type(3) a{color:#000;font-size: 5px;}
.wei .wei2 li:nth-of-type(3):hover a{color: red;}
.wei .wei2 li:nth-of-type(4){width: 26px;height: 20px;line-height: 20px;}
.wei .wei2 li:nth-of-type(4) a{color:#000;font-size: 5px;}
.wei .wei2 li:nth-of-type(4):hover a{color: red;}
.wei .wei2 li:nth-of-type(5){width:26px;height: 27px;line-height: 27px;}
.wei .wei2 li:nth-of-type(6){width: 26px;height: 20px;line-height: 20px;}
.wei .wei2 li:nth-of-type(6) a{color:#000;font-size: 5px;}
.wei .wei2 li:nth-of-type(6):hover a{color: red;}
.wei .wei2 li:nth-of-type(7){width: 26px;height: 20px;line-height: 20px;}
.wei .wei2 li:nth-of-type(7) a{color:#000;font-size: 5px;}
.wei .wei2 li:nth-of-type(7):hover a{color: red;}
.wei .wei2 li:nth-of-type(8){width: 26px;height: 20px;line-height: 20px;}
.wei .wei2 li:nth-of-type(8) a{color:#000;font-size: 5px;}
.wei .wei2 li:nth-of-type(8):hover a{color: red;}
.wei .wei2 li:nth-of-type(9){width: 26px;height: 20px;line-height: 20px;}
.wei .wei2 li:nth-of-type(9) a{color:#000;font-size: 5px;}
.wei .wei2 li:nth-of-type(9):hover a{color: red;}
.wei .wei2 li:nth-of-type(10){width: 40px;height: 20px;line-height: 20px;}
.wei .wei2 li:nth-of-type(10) a{color:#000;font-size: 5px;}
.wei .wei2 li:nth-of-type(10):hover a{color: red;}
.wei .wei2 li:nth-of-type(11){width: 100px;height: 20px;line-height: 20px;}
.wei .wei2 li:nth-of-type(11) a{color:#000;font-size: 5px;}



.wei .wei3{width: 81px;height: 221px;}
.wei .wei3{position:absolute;left: 650px;top: 40px;}
.wei .wei3 li:nth-of-type(1){width:115px;height: 27px;line-height: 27px;}
.wei .wei3 li:nth-of-type(2){width: 115px;height: 20px;line-height: 20px;}
.wei .wei3 li:nth-of-type(2) a{color:#000;font-size: 5px;}
.wei .wei3 li:nth-of-type(2):hover a{color: red;}
.wei .wei3 li:nth-of-type(3){width: 115px;height: 20px;line-height: 20px;}
.wei .wei3 li:nth-of-type(3) a{color:#000;font-size: 5px;}
.wei .wei3 li:nth-of-type(3):hover a{color: red;}
.wei .wei3 li:nth-of-type(4){width: 115px;height: 20px;line-height: 20px;}
.wei .wei3 li:nth-of-type(4) a{color:#000;font-size: 5px;}
.wei .wei3 li:nth-of-type(4):hover a{color: red;}
.wei .wei3 li:nth-of-type(5){width:115px;height: 27px;line-height: 27px;}
.wei .wei3 li:nth-of-type(5) a{color:#000;font-size: 5px;}
.wei .wei3 li:nth-of-type(5):hover a{color: red;}
.wei .wei3 li:nth-of-type(6){width: 115px;height: 20px;line-height: 20px;}
.wei .wei3 li:nth-of-type(7){width: 115px;height: 20px;line-height: 20px;}
.wei .wei3 li:nth-of-type(7) a{color:#000;font-size: 5px;}
.wei .wei3 li:nth-of-type(7):hover a{color: red;}
.wei .wei3 li:nth-of-type(8){width: 115px;height: 20px;line-height: 20px;}
.wei .wei3 li:nth-of-type(8) a{color:#000;font-size: 5px;}
.wei .wei3 li:nth-of-type(8):hover a{color: red;}
.wei .wei3 li:nth-of-type(9){width: 115px;height: 20px;line-height: 20px;}
.wei .wei3 li:nth-of-type(9) a{color:#000;font-size: 5px;}
.wei .wei3 li:nth-of-type(9):hover a{color: red;}
.wei .wei3 li:nth-of-type(10){width: 115px;height: 20px;line-height: 20px;}
.wei .wei3 li:nth-of-type(10) a{color:#000;font-size: 5px;}
.wei .wei3 li:nth-of-type(10):hover a{color: red;}
.wei .wei3 li:nth-of-type(11){width: 100px;height: 20px;line-height: 20px;}
.wei .wei3 li:nth-of-type(11) a{color:#000;font-size: 5px;}
.wei .wei3 li:nth-of-type(11):hover a{color: red;}
.wei .wei3 li:nth-of-type(12){width: 100px;height: 20px;line-height: 20px;}
.wei .wei3 li:nth-of-type(12) a{font-size: 5px;}




.wei .wei4{width: 81px;height: 221px;}
.wei .wei4{position:absolute;left: 850px;top: 40px;}
.wei .wei4 li:nth-of-type(1){width:80px;height: 27px;line-height: 27px;}
.wei .wei4 li:nth-of-type(2){width: 80px;height: 20px;line-height: 20px;}
.wei .wei4 li:nth-of-type(2) a{color:#000;font-size: 5px;}
.wei .wei4 li:nth-of-type(2):hover a{color: red;}
.wei .wei4 li:nth-of-type(3){width: 80px;height: 20px;line-height: 20px;}
.wei .wei4 li:nth-of-type(3) a{color:#000;font-size: 5px;}
.wei .wei4 li:nth-of-type(3):hover a{color: red;}
.wei .wei4 li:nth-of-type(4){width: 80px;height: 20px;line-height: 20px;}
.wei .wei4 li:nth-of-type(4) a{color:#000;font-size: 5px;}
.wei .wei4 li:nth-of-type(4):hover a{color: red;}
.wei .wei4 li:nth-of-type(5){width:80px;height: 27px;line-height: 27px;}
.wei .wei4 li:nth-of-type(5) a{color:#000;font-size: 5px;}
.wei .wei4 li:nth-of-type(5):hover a{color: red;}
.wei .wei4 li:nth-of-type(6) img{width: 130px;height: 50px;padding-top: 15px;}
.wei .wei4 li:nth-of-type(7) img{width: 130px;height: 50px;padding-top: 15px;}



.wei .wei5{width: 81px;height: 221px;}
.wei .wei5{position:absolute;left: 1050px;top: 40px;}
.wei .wei5 li:nth-of-type(1){width:80px;height: 20px;line-height: 20px;}
.wei .wei5 li:nth-of-type(2){width: 80px;height: 20px;line-height: 20px;}
.wei .wei5 li:nth-of-type(2) a{color:#000;font-size: 5px;}
.wei .wei5 li:nth-of-type(2):hover a{color: red;}
.wei .wei5 li:nth-of-type(3){width: 80px;height: 20px;line-height: 20px;}
.wei .wei5 li:nth-of-type(3) a{color:#000;font-size: 5px;}
.wei .wei5 li:nth-of-type(3):hover a{color: red;}
.wei .wei5 li:nth-of-type(4){width: 80px;height: 20px;line-height: 20px;}
.wei .wei5 li:nth-of-type(4) a{color:#000;font-size: 5px;}
.wei .wei5 li:nth-of-type(4):hover a{color: red;}
.wei .wei5 li:nth-of-type(5){width:80px;height: 20px;line-height: 20px;}
.wei .wei5 li:nth-of-type(5) a{color:#000;font-size: 5px;}
.wei .wei5 li:nth-of-type(5):hover a{color: red;}
.wei .wei5 li:nth-of-type(6){width:80px;height: 20px;line-height: 20px;}
.wei .wei5 li:nth-of-type(6) a{color:#000;font-size: 5px;}
.wei .wei5 li:nth-of-type(6):hover a{color: red;}
.wei .wei5 li:nth-of-type(7){width:80px;height: 20px;line-height: 20px;}
.wei .wei5 li:nth-of-type(7) a{color:#000;font-size: 5px;}
.wei .wei5 li:nth-of-type(7):hover a{color: red;}

/*底*/
.di{width: 100%;height: 560px;background: #CCCCCC;}
.di .di1{width:800px;height: 380px;padding:40px 30px 0 210px;}
.di .di1 p{font-size: 5px;}


.di .di2{width: 100%;height: 180px;float: left;position:relative;}
.di .di2 img{width: 20px;height: 20px;}
.di .di2 li:nth-of-type(1){position:absolute;left:420px;top:150px;}
.di .di2 li:nth-of-type(2){position:absolute;left:450px;top:148px;font-size: 10px;}
.di .di2 li:nth-of-type(2) a{color: #000;}
.di .di2 li:nth-of-type(3){position:absolute;left:650px;top:150px;}
.di .di2 li:nth-of-type(4){position:absolute;left:670px;top:148px;font-size: 10px;}
.di .di2 li:nth-of-type(4) a{color: #000;}
.di .di2 li:nth-of-type(5){position:absolute;left:720px;top:148px;font-size: 10px;}

